li {
    list-style: none;
    text-align: center;
    margin: 0;
  }
  
  p {
    border: 1px solid #dadde1;
    padding: 0px 25px 0px 0px;
  }
  
  a,
  a:active,
  a:hover,
  a:visited {
    display: inline-block;
    text-decoration: none;
    transition: 0.2s;
    color: blueviolet;
  }